# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USER=leitor_dashboard
DB_PASS=senha_segura
DB_NAME=aps_chapada

# Metabase
METABASE_SITE_URL=http://localhost:3000
METABASE_API_KEY=chave_aqui

# n8n
N8N_WEBHOOK_URL=https://n8n.seusistema.com/webhook/
EMAIL_NOTIFICACAO=aps@chapada.mt.gov.br
